// NORMALISE //

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    margin: 0;
}

// NORMALISE //

@mixin center ($justify_content: center, $align_items: center, $flex_direction: column) {
    display: flex;
    justify-content: $justify_content;
    align-items: $align_items;
    flex-direction: $flex_direction;
}


@media screen and (max-width: 375px) {

    body {
        @include center(flex-start);

        & header {
            width: 100%;
            @include center(space-around);
            margin-bottom: 60px;

            & section {
                margin: 0;
            }

            & .logo_link {
                @include center(space-between, center, row);
                width: 95%;
                margin-bottom: 50px;
                padding: 1% 0;

                & a {
                    text-decoration: none;
                    background-color: black;
                    color: white;
                    border-radius: 50px;
                    width: 45%;
                    height: 65%;
                    @include center();
                }
            }

            & #title_header {
                @include center();
                height: 70%;

                & h1 {
                    font-size: 40px;
                    width: 80%;
                    text-align: center;
                    margin: 0;
                    margin-bottom: 20px;
                }

                & p {
                    text-align: center;
                    width: 90%;
                    margin: 0;
                    font-size: 20px;
                }
            }
        }


        & main {
            width: 100%;
            @include center();

            & #section_icons {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(6, 1fr);
                grid-column-gap: 20px;
                grid-row-gap: 20px;
                width: 85%;

                & #article_graphic_design {
                    grid-area: 1 / 1 / 3 / 3;
                    background-color: #755CDE;
                    background-image: url(../img/icons/graphic-design_icon.svg);
                    background-repeat: no-repeat;
                    height: 325px;
                }
                & #article_ui_ux {
                    grid-area: 3 / 1 / 4 / 2;
                    background-color: #F6A560;
                    background-image: url(../img/icons/ui-ux_icon.svg);
                    background-repeat: no-repeat;
                }
                & #article_apps {
                    grid-area: 3 / 2 / 4 / 3;
                    background-color: #F39E9E;
                    background-image: url(../img/icons/apps_icon.svg);
                    background-repeat: no-repeat;
                }
                & #article_illustrations {
                    grid-area: 4 / 1 / 5 / 3;
                    background-color: #EB7565;
                    background-image: url(../img/icons/illustrations_icon.svg);
                    background-repeat: no-repeat;
                }
                & #article_photography {
                    grid-area: 5 / 1 / 6 / 3;
                    background-color: #61C4B7;
                    background-image: url(../img/icons/photography_icon.svg);
                    background-repeat: no-repeat;
                }
                & #article_motion_graphics {
                    grid-area: 6 / 1 / 7 / 3;
                    background-color: #552049;
                    background-image: url(../img/icons/motion-graphics_icon.svg);
                    background-repeat: no-repeat;
                }

                & article {
                    border-radius: 10px;
                    @include center(start, end, row);
                    padding: 5%;
                    color: white;
                    font-size: 25px;
                    background-size: 35%;
                    background-position: 90% 20%;
                }
            }

            & #section_girl {
                width: 85%;
                height: 50%;
                margin-bottom: 30px;

                & article {
                    width: 100%;
                    height: 100%;
                    @include center();

                    & img {
                        width: 90%;
                    }

                    & h2 {
                        font-size: 25px;
                        text-align: center;
                        margin-bottom: 10px;
                    }

                    & p {
                        text-align: center;
                        font-size: 20px;
                        margin-bottom: 30px;
                    }

                    & a {
                        text-decoration: none;
                        color: white;
                        background-color: #EB7565;
                        border-radius: 50px;
                        @include center();
                        width: 60%;
                        height: 50px;
                    }
                }
            }

            & #section_carrousel {
                width: 100%;
                height: 600px;
                @include center();

                & h2 {
                    font-size: 25px;
                }

                & #imgs_carrousel {
                    width: 100%;
                    height: 50%;
                    @include center(space-around, center, row);

                    & img {
                        border-radius: 10px;
                        width: 50%;
                        // display: none;
                    }

                    & #img_middle {
                        margin: 0 20px;
                    }

                    & #img_left, #img_right {
                        display: block;
                    }

                    & div {
                        width: 306px;
                        height: 100%;
                        border-radius: 10px;
                    }
                }

                & #arrows {
                    @include center(space-evenly, center, row);
                    width: 50%;
                    height: 50%;

                    & #arrow_left {
                        background-image: url(../img/arrow-left.svg);
                    }

                    & #arrow_right {
                        background-image: url(../img/arrow-right.svg);
                    }

                    & div {
                        background-color: black;
                        background-repeat: no-repeat;
                        background-position: center;
                        cursor: pointer;
                        border-radius: 50%;
                        width: 35%;
                        height: 35%;
                    }
                }
            }
        }


        & footer {
            width: 100%;
            margin-top: 20px;
            @include center();
            
            & #section_book {
                background-color: black;
                width: 95%;
                height: 380px;
                border-radius: 10px;
                @include center(space-evenly, center, column);
                padding: 10% 5%;

                & h2 {
                    font-size: 30px;
                    color: white;
                    text-align: center;
                }

                & p {
                    color: white;
                    text-align: center;
                    font-size: 17px;
                }

                & a {
                    text-decoration: none;
                    color: white;
                    background-color: #EB7565;
                    border-radius: 50px;
                    @include center();
                    width: 60%;
                    height: 50px;
                }
            }

            & .logo_link {
                @include center(space-between, center, row);
                width: 95%;
                height: 17%;
                margin-top: 30px;

                & a {
                    text-decoration: none;
                    background-color: black;
                    color: white;
                    border-radius: 50px;
                    width: 45%;
                    height: 65%;
                    @include center();
                }
            }
        }
    }

}


@media screen and (max-width: 768px) {

    body {
        @include center(flex-start);

        & header {
            width: 100%;
            @include center(space-around);
            margin-bottom: 60px;

            & section {
                margin: 0;
            }

            & .logo_link {
                @include center(space-between, center, row);
                width: 95%;
                margin-bottom: 50px;
                padding: 1% 0;

                & a {
                    text-decoration: none;
                    background-color: black;
                    color: white;
                    border-radius: 50px;
                    width: 45%;
                    height: 65%;
                    @include center();
                }
            }

            & #title_header {
                @include center();
                height: 70%;

                & h1 {
                    font-size: 40px;
                    width: 80%;
                    text-align: center;
                    margin: 0;
                    margin-bottom: 20px;
                }

                & p {
                    text-align: center;
                    width: 90%;
                    margin: 0;
                    font-size: 20px;
                }
            }
        }


        & main {
            width: 100%;
            @include center();

            & #section_icons {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, 1fr);
                grid-column-gap: 10px;
                grid-row-gap: 10px;

                & #article_graphic_design {
                    grid-area: 1 / 1 / 3 / 3;
                    background-color: #755CDE;
                    background-image: url(../img/icons/graphic-design_icon.svg);
                    background-repeat: no-repeat;
                }
                & #article_ui_ux {
                    grid-area: 1 / 3 / 2 / 4;
                    background-color: #F6A560;
                    background-image: url(../img/icons/ui-ux_icon.svg);
                    background-repeat: no-repeat;
                }
                & #article_apps {
                    grid-area: 1 / 4 / 2 / 5;
                    background-color: #F39E9E;
                    background-image: url(../img/icons/apps_icon.svg);
                    background-repeat: no-repeat;
                }
                & #article_illustrations {
                    grid-area: 2 / 3 / 3 / 5;
                    background-color: #EB7565;
                    background-image: url(../img/icons/illustrations_icon.svg);
                    background-repeat: no-repeat;
                }
                & #article_photography {
                    grid-area: 3 / 1 / 4 / 3;
                    background-color: #61C4B7;
                    background-image: url(../img/icons/photography_icon.svg);
                    background-repeat: no-repeat;
                }
                & #article_motion_graphics {
                    grid-area: 3 / 3 / 4 / 5;
                    background-color: #552049;
                    background-image: url(../img/icons/motion-graphics_icon.svg);
                    background-repeat: no-repeat;
                }

                & article {
                    border-radius: 10px;
                    @include center(start, end, row);
                    padding: 5%;
                    color: white;
                    font-size: 25px;
                    background-size: 35%;
                    background-position: 90% 20%;
                }
            }

            & #section_girl {
                width: 85%;
                height: 50%;
                margin-bottom: 30px;

                & article {
                    width: 100%;
                    height: 100%;
                    @include center();

                    & img {
                        width: 90%;
                    }

                    & h2 {
                        font-size: 25px;
                        text-align: center;
                        margin-bottom: 10px;
                    }

                    & p {
                        text-align: center;
                        font-size: 20px;
                        margin-bottom: 30px;
                    }

                    & a {
                        text-decoration: none;
                        color: white;
                        background-color: #EB7565;
                        border-radius: 50px;
                        @include center();
                        width: 60%;
                        height: 50px;
                    }
                }
            }

            & #section_carrousel {
                width: 100%;
                height: 600px;
                @include center();

                & h2 {
                    font-size: 25px;
                }

                & #imgs_carrousel {
                    width: 100%;
                    height: 50%;
                    @include center(space-around, center, row);

                    & img {
                        border-radius: 10px;
                        width: 50%;
                        // display: none;
                    }

                    & #img_middle {
                        margin: 0 20px;
                    }

                    & #img_left, #img_right {
                        display: block;
                    }

                    & div {
                        width: 306px;
                        height: 100%;
                        border-radius: 10px;
                    }
                }

                & #arrows {
                    @include center(space-evenly, center, row);
                    width: 50%;
                    height: 50%;

                    & #arrow_left {
                        background-image: url(../img/arrow-left.svg);
                    }

                    & #arrow_right {
                        background-image: url(../img/arrow-right.svg);
                    }

                    & div {
                        background-color: black;
                        background-repeat: no-repeat;
                        background-position: center;
                        cursor: pointer;
                        border-radius: 50%;
                        width: 35%;
                        height: 35%;
                    }
                }
            }
        }


        & footer {
            width: 100%;
            margin-top: 20px;
            @include center();
            
            & #section_book {
                background-color: black;
                width: 95%;
                height: 380px;
                border-radius: 10px;
                @include center(space-evenly, center, column);
                padding: 10% 5%;

                & h2 {
                    font-size: 30px;
                    color: white;
                    text-align: center;
                }

                & p {
                    color: white;
                    text-align: center;
                    font-size: 17px;
                }

                & a {
                    text-decoration: none;
                    color: white;
                    background-color: #EB7565;
                    border-radius: 50px;
                    @include center();
                    width: 60%;
                    height: 50px;
                }
            }

            & .logo_link {
                @include center(space-between, center, row);
                width: 95%;
                height: 17%;
                margin-top: 30px;

                & a {
                    text-decoration: none;
                    background-color: black;
                    color: white;
                    border-radius: 50px;
                    width: 45%;
                    height: 65%;
                    @include center();
                }
            }
        }
    }

}